<div class="row"
  <div class="col-lg-offset-2">
    <%= form_for @category, html: {class: "form-horizontal"} do |f| %>

      <div class="form-group">
        <%= f.label :name, "Name" %>
        <div class="form-group">
          <%= f.text_field :name, class: "form-control", placeholder: "Enter name" %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :description, "Description" %>
        <div class="form-group">
          <%= f.text_area :description, class: "form-control", placeholder: "Enter description" %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :parent_id, "Parent Id" %>
        <div class="form-group">
          <%= f.text_field :parent_id, class: "form-control", placeholder: "Enter parent id" %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-lg-offset-4">
          <%= f.submit "Create", class: "btn btn-success" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
